/* GENERAL */
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  scroll-behavior: smooth;
  background: #f8f9fa;
  color: #333;
  transition: all 0.5s ease;
}

/* NAV */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: #2c7be5;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 15px 0;
  z-index: 1000;
}
nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: 500;
}
nav a:hover { color: #ffeb3b; }
#theme-toggle {
  margin-left: 10px;
  padding: 5px 12px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

/* HERO 
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 50px 60px;
  flex-wrap: wrap;
}*/

.hero{
  height:70;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  background:rgba(255,255,255,0.6);
  backdrop-filter:blur(10px);
  border-radius:16px;
  margin:20px;
padding: 100px 50px 60px;
}




.hero-text { flex: 1 1 400px; }
.hero-image img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #2c7be5;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

/* SECTIONS */
section { padding: 60px 20px; max-width: 1000px; margin: auto; }
section h2 { color: #2c7be5; margin-bottom: 30px; }

/* CARDS */
.card {
  background: #fff;
  border-left: 4px solid #2c7be5;
  padding: 25px;
  margin-bottom: 30px;
  border-radius: 6px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
  transition: all 0.3s;
}
.card:hover { transform: translateY(-5px); box-shadow: 0 8px 20px rgba(0,0,0,0.15); }
.card-header { display: flex; justify-content: space-between; align-items: center; cursor: pointer; }
.toggle-btn {
  background: #2c7be5;
  color: white;
  border: none;
  width: 28px;
  height: 28px;
  border-radius: 4px;
  cursor: pointer;
}

/* DARK MODE */
body.dark-mode {
  background: #121212;
  color: #e0e0e0;
}
body.dark-mode nav { background: #1f1f1f; }
body.dark-mode nav a { color: #e0e0e0; }
body.dark-mode nav a:hover { color: #ffeb3b; }
body.dark-mode .card { background: #1e1e1e; border-left-color: #ffeb3b; }
body.dark-mode footer { background: #1f1f1f; }

/* FOOTER */
footer {
  text-align: center;
  background: #2c7be5;
  color: white;
  padding: 30px 0;
}

/* RESPONSIVE */
@media(max-width:768px){
  .hero { flex-direction: column; text-align: center; }
  .hero-image { margin-top: 20px; }
}
